HospitalManagementSystem/HospitalManagementClient/Connected Services/InventoryServiceReference/InventoryService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="InventoryService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8002/HospitalManagementSystem?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8002/HospitalManagementSystem?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8002/HospitalManagementSystem?xsd=xsd2" />
      <xsd:import schemaLocation="http://localhost:8002/HospitalManagementSystem?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HospitalManagementSystem" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IInventoryService_GetInventories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInventories" />
  </wsdl:message>
  <wsdl:message name="IInventoryService_GetInventories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInventoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IInventoryService_GetInventory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInventory" />
  </wsdl:message>
  <wsdl:message name="IInventoryService_GetInventory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInventoryResponse" />
  </wsdl:message>
  <wsdl:message name="IInventoryService_AddInventory_InputMessage">
    <wsdl:part name="parameters" element="tns:AddInventory" />
  </wsdl:message>
  <wsdl:message name="IInventoryService_AddInventory_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddInventoryResponse" />
  </wsdl:message>
  <wsdl:message name="IInventoryService_UpdateInventory_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateInventory" />
  </wsdl:message>
  <wsdl:message name="IInventoryService_UpdateInventory_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateInventoryResponse" />
  </wsdl:message>
  <wsdl:message name="IInventoryService_DeleteInventory_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteInventory" />
  </wsdl:message>
  <wsdl:message name="IInventoryService_DeleteInventory_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteInventoryResponse" />
  </wsdl:message>
  <wsdl:portType name="IInventoryService">
    <wsdl:operation name="GetInventories">
      <wsdl:input wsaw:Action="http://tempuri.org/IInventoryService/GetInventories" message="tns:IInventoryService_GetInventories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInventoryService/GetInventoriesResponse" message="tns:IInventoryService_GetInventories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInventory">
      <wsdl:input wsaw:Action="http://tempuri.org/IInventoryService/GetInventory" message="tns:IInventoryService_GetInventory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInventoryService/GetInventoryResponse" message="tns:IInventoryService_GetInventory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddInventory">
      <wsdl:input wsaw:Action="http://tempuri.org/IInventoryService/AddInventory" message="tns:IInventoryService_AddInventory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInventoryService/AddInventoryResponse" message="tns:IInventoryService_AddInventory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateInventory">
      <wsdl:input wsaw:Action="http://tempuri.org/IInventoryService/UpdateInventory" message="tns:IInventoryService_UpdateInventory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInventoryService/UpdateInventoryResponse" message="tns:IInventoryService_UpdateInventory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteInventory">
      <wsdl:input wsaw:Action="http://tempuri.org/IInventoryService/DeleteInventory" message="tns:IInventoryService_DeleteInventory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInventoryService/DeleteInventoryResponse" message="tns:IInventoryService_DeleteInventory_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IInventoryService" type="tns:IInventoryService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetInventories">
      <soap:operation soapAction="http://tempuri.org/IInventoryService/GetInventories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInventory">
      <soap:operation soapAction="http://tempuri.org/IInventoryService/GetInventory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddInventory">
      <soap:operation soapAction="http://tempuri.org/IInventoryService/AddInventory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateInventory">
      <soap:operation soapAction="http://tempuri.org/IInventoryService/UpdateInventory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteInventory">
      <soap:operation soapAction="http://tempuri.org/IInventoryService/DeleteInventory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InventoryService">
    <wsdl:port name="BasicHttpBinding_IInventoryService" binding="tns:BasicHttpBinding_IInventoryService">
      <soap:address location="http://localhost:8002/HospitalManagementSystem/InventoryService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>